MILVUS_HOST=localhost
MILVUS_PORT=19530
COLLECTION_NAME=text_image_retrieval
CLIP_MODEL_NAME=openai/clip-vit-base-patch32
IMAGE_DIR=flickr8k/versions/1/Images
CAPTIONS_PATH=flickr8k/versions/1/captions.txt
METADATA_PATH=data/processed/image_metadata.csv
EMBEDDINGS_PATH=data/processed/image_embeddings.npy
